*{
    box-sizing: border-box;
    margin: 0;
}
a {
    text-decoration: none;
    padding: 0.5em;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(214, 173, 194);
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-height: 50px;
    background-color: rgb(208, 233, 240);
}

.nav-link {
    margin: 0.5;
    border: 0.2em solid rgb(86, 177, 163);
    padding: 0.2em;
    font-size: 1.2em;
    transition: ease-out 1s all;
}

.nav-link:hover {
    background-color: rgb(90, 90, 105);
    color: rgb(156, 116, 90);
}

div
{
  display:flex;
  align-items:center;
  justify-content:center;
  
}